{{define "profile"}}
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>NI_WI Account</title>
      <!-- Favicon -->
      <!-- <link rel="icon" href="../assets/img/brand/favicon.png" type="image/png"> -->
      <!-- Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
      <link rel="stylesheet" href="/assets/css/argon.css" type="text/css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body class="bg-default">
      <div class="main-content">
          <!-- Header -->
          <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            {{if .IsAuthenticated}}
            <div class="container">
              <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                  <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                    <h1 class="text-white">Welcome {{ .Username }}!</h1>
                    <p class="text-lead text-white">Use these awesome forms to login or create new account in your project for free.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
          </div>
          <!-- Page content -->
          <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary-2 border-0 mb-0">
                  <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3">Profile information</div>
                    <!-- <div class="btn-wrapper text-center">
                      <a href="#" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><img src="./assets/img/icons/common/github.svg"></span>
                        <span class="btn-inner--text">Github</span>
                      </a> 
                      <a href="#" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><img src="assets/img/google.svg"></span>
                        <span class="btn-inner--text">Google</span>
                      </a>
                    </div> -->
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <!-- <div class="text-center text-muted mb-4">
                      <small>Or sign in with credentials</small>
                    </div> -->
                    <form role="form" method="POST">
                      <div class="alert alert-danger" style="display: none;" id="error-alert" role="alert">
                        
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-merge input-group-alternative">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div> -->
                          {{if .EditMode}}
                            <input class="form-control" name="email" value="{{ .Email }}" required  placeholder="Full name" type="email">
                          {{else}}
                            <input class="form-control" name="email" value="{{ .Email }}" required readonly placeholder="Full name" type="email">
                          {{end}}
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-merge input-group-alternative">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div> -->
                          {{if .EditMode}}
                            <input class="form-control" id="input-addr" list="suggestions" name="address" value="{{ .Address }}" required placeholder="Address" type="text">
                          {{else}}
                            <input class="form-control" id="input-addr" list="suggestions" name="address" value="{{ .Address }}" readonly required placeholder="Address" type="text">
                          {{end}}
                          <datalist id="suggestions"></datalist>
                          </datalist>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative">
                          {{if .EditMode}}
                            <input class="form-control" name="telephone" value="{{ .Telephone }}" placeholder="Phone number" type="tel">
                          {{else}}
                            <input class="form-control" name="telephone" value="{{ .Telephone }}" readonly placeholder="Phone number" type="tel">
                          {{end}}
                        </div>
                      </div>
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id=" customCheckLogin" name="is_editable" type="checkbox" checked="{{ .EditMode }}">
                      </div>
                      <div class="text-center">
                        {{if .EditMode}}
                          <button type="submit" class="btn btn-primary my-4">Save profile</button>
                        {{else}}
                          <button type="submit" class="btn btn-primary my-4">Edit profile</button>
                        {{end}}
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6">
                    <a href="/logout" class="text-light"><small>Log out</small></a>
                  </div>
                  <!-- <div class="col-6 text-right">
                    <a href="/signup" class="text-light"><small>Create new account</small></a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          {{else}}
            <div class="container">
                <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                    <h1 class="text-white">Not authorised</h1>
                    <p class="text-lead text-white">You need to be logged in to view this page ...</p>
                    <a href="/" class="text-lead text-white">Please head back and log in</a>
                    </div>
                </div>
                </div>
            </div>
            {{end}} 
        </div>
        <script>
          $('#input-addr').change(() => {
            let value = $('#input-addr').val();
            $('#suggestions').empty()
            fetch("/api/geolocation?query="+value)
            .then(res => res.json())
            .then(response => {
              if(response.predictions){
                for(let i in response.predictions){
                  let item = response.predictions[i].description;

                  $('#suggestions').append('<option value="'+item+'">')
                }
              }
            })

          });

          // function processForm(e) {
          //   if (e.preventDefault) e.preventDefault();
          //   let full_name = e.target[0].value;
          //   let address = e.target[1].value;
          //   let telephone = e.target[2].value;
  
          //   let signupPayload = {
          //       username,
          //       email,
          //       password,
          //       type: 1
          //   };

          //   fetch('/api/profile', {
          //     method: "POST",
          //     headers: {"Content-Type": "application/json"},
          //     body: JSON.stringify(signupPayload)
          //   })
          //     .then(res => res.json())
          //     .then(response => {
          //       console.log(response)

          //       let alert = document.getElementById('error-alert');

          //       alert.innerText = response.error_msg
          //       alert.style = "display:block";
          //     })
          //     .catch(error => {
          //       console.log(error)
          //     })
              
          //   return false;
          // }
  
          // var form = document.getElementById('signup-form');
          // if (form.attachEvent) {
          //     form.attachEvent("submit", processForm);
          // } else {
          //     form.addEventListener("submit", processForm);
          // }
        </script>
      </body>
    </html> 
{{end}}