{{define "signup"}}
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>NI_WI Account</title>
      <!-- Favicon -->
      <!-- <link rel="icon" href="../assets/img/brand/favicon.png" type="image/png"> -->
      <!-- Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
      <!-- Icons -->
      <!-- <link rel="stylesheet" href="../assets/vendor/nucleo/css/nucleo.css" type="text/css">
      <link rel="stylesheet" href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css"> -->
      <link rel="stylesheet" href="/assets/css/argon.css" type="text/css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body class="bg-default">
      <div class="main-content">
          <!-- Header -->
          <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
              <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                  <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                    <h1 class="text-white">Please sign up</h1>
                    <p class="text-lead text-white">If you don't own and awesome account yet, create new one for free.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
          </div>
          <!-- Page content -->
          <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary-2 border-0 mb-0">
                  <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3"><small>Sign up with google account</small></div>
                    <div class="btn-wrapper text-center">
                      <!-- <a href="#" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><img src="./assets/img/icons/common/github.svg"></span>
                        <span class="btn-inner--text">Github</span>
                      </a> -->
                      <a href="{{ .AuthURL }}" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><img src="/assets/img/google.svg"></span>
                        <span class="btn-inner--text">Google</span>
                      </a>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <small>Or sign in with credentials</small>
                    </div>
                    <form role="form" method="POST">
                      {{if .HasErrored }}
                        <div class="alert alert-danger" id="error-alert" role="alert">
                          {{ .ErrorMessage }}
                        </div>
                      {{end}}
                      <div class="form-group mb-3">
                        <div class="input-group input-group-merge input-group-alternative">
                          <input class="form-control" name="username" required placeholder="Full Name" type="text">
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-merge input-group-alternative">
                          <input class="form-control" name="email" required placeholder="Email" type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative">
                          <input class="form-control" name="password" required placeholder="Password" type="password">
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Create Account</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6">
                    <a href="/" class="text-light"><small>Head back to Login</small></a>
                  </div>
                  <!-- <div class="col-6 text-right">
                    <a href="/" class="text-light"><small>Log in</small></a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
    </html> 
{{end}}